@import "../../Variables.scss";
.dropdown {
    font-size: 12px;
    .dropdownLabel {
        display: flex;
        align-items: center;
        gap:8px;
        padding: 0;
        font-weight: 600;
    }
    .dropdownOptions {
        padding: 8px 0;
        position: absolute;
        top: 100%;
        right: 0;
        width: fit-content;
        border: 1px solid $light;
        border-radius: 4px;
        max-height: 150px;
        overflow-y: auto;
        z-index: 9;
        background-color: white;
        .dropdownOption {
            padding: 2px 8px;
            &:hover {
                background: $light;
            }
        }
        &::-webkit-scrollbar {
            width: 2px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: transparent;        /* color of the tracking area */
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $light;    /* color of the scroll thumb */
            border-radius: 4px;       /* roundness of the scroll thumb */
        }
    }
}