@import "./Variables.scss";
@import "~bootstrap/scss/bootstrap";

.loader {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.row {
  margin: 0;
}
.justifyContent {
  justify-content: center!important;
}
.borderBottomLight {
  border-bottom: 1px solid $light!important;
}
.filters {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  > * {
    width: unset;
  }
}