@import '../../Variables.scss';

.launchTable {
    border: 1px solid $light;
    border-radius: 4px;
    height: fit-content;
    font-size: 12px;
    .launchTableHeader {
        justify-content: space-between;
        background-color: $light;
        padding: 8px;
        height: fit-content;
    }
    .notFound {
        justify-content: center;
    }
    .launchRecords {
        display: flex;
        flex-direction: column;
        gap:8px;
        height: fit-content;
        min-height: 65vh;
        max-height: 65vh;
        overflow-y: auto;
        .loader {
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
        }
        .launchRecord {
            cursor: pointer;
            align-items: center;
            padding: 8px;
            .launchStatus{
                height: fit-content;
                padding: 0 8px;
                width: fit-content;
                margin: 0;
                font-weight: 600;
            }
            &:hover {
                background-color: $light;
            }
        }
        &::-webkit-scrollbar {
            width: 2px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: transparent;        /* color of the tracking area */
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $light;    /* color of the scroll thumb */
            border-radius: 4px;       /* roundness of the scroll thumb */
        }
    }
}